footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer div div {
    display: grid;
    grid: 70px 1fr / 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

footer .footer div div h2 {
  text-align: left;
}